
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

  body{
    font-family: 'Poppins', sans-serif;
  }
  .curousel-item{
    min-height: 300px;
    height: 100vh;
  }
  .booking-part{
    background-color: black;
}
  .carousel-caption{
    bottom: 40px;
  }
  .carousel-caption h5{
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 25px; 
  }
  .image-blare{
    opacity: 0.4!important;
  }

.carousel-caption p{
letter-spacing: 1px;
}
.carousel-caption a{
  padding: 10px 50px;
  color: rgb(11, 11, 158);
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
  font-weight: 700;
}
.icon-bg-color{
  background-color: 
  #f496d215;
}
.button-color{
  background-color:#f496d22a;
  color: rgb(22, 22, 148);
}
.plan-bg-image{
background: #3F87F5;
box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
border-radius: 26px;
}
.text-decoration{
  box-shadow:0px px px rgba(63, 135, 245, 0.25);
}
.last-section{  
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.884);
}
.app-store img{
width: 100px;
}
